.login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  .website-login {
    width: 55%;
  }
  .website-logo {
    width: 130px;
    height: 35px;
    padding: 40px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    padding: 20px;
  
    height: 350px;
    width: 300px;
    align-items: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
  }
  .username {
    color: #475569;
    font-weight: bold;
    font-size: 13px;
  }
  .input-username {
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: 0px;
    background-color: #d7dfe9;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
  }
  .password {
    color: #475569;
    font-weight: bold;
    font-size: 13px;
  }
  .input-password {
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: 0px;
    background-color: #d7dfe9;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
  }
  .error-msg {
    color: red;
    font-size: 12px;
  }
  .login-btn {
    background-color: #0b69ff;
    border: 0px;
    height: 35px;
    border-radius: 8px;
    color: white;
    outline: none;
  }
  